body{
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
}
center{
    margin-top: 40vh;
    height: 60vh;
}
.choice-links{
    padding-left: 20%;
    padding-right: 20%;
}
.choice-links button{
    height: 30px;
    width: 80px;
    padding: 0;
    background-color: rgb(15, 175, 15);
    border-color: green;
    border-style: solid;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.bodypart-time{
    margin-bottom: 50px;
    text-decoration: underline;
}